name: CI

on:
    push:
        branches: ["master"]
    pull_request:
        branches: ["master"]

jobs:
    build-linux:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Install Dependencies
              run: |
                sudo apt-get update
                sudo apt-get install -y libwxgtk3.2-dev

            - name: Configure CMake
              run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

            - name: Build
              run: cmake --build build --config Release
            
            - name: Run Tests
              run: ctest --test-dir build --output-on-failure