name: CI

on:
  push:
    branches: ["master"]
    tags: ["v*"]
  pull_request:
    branches: ["master"]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libwxgtk3.2-dev

      - name: Configure CMake
        run: cmake --preset debug

      - name: Build
        run: cmake --build --preset debug
      
      - name: Run Tests
        run: ctest --preset debug
    
  release:
    needs: build-linux
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libwxgtk3.2-dev

      - name: Configure CMake (Release)
        run: cmake --preset release

      - name: Build (Release)
        run: cmake --build --preset release

      - name: Package
        run: |
          mkdir -p dist/monkey-moore

          cp build-release/src/gui/monkey-moore-gui dist/monkey-moore/monkey-moore
          chmod +x dist/monkey-moore/monkey-moore

          cp -r build-release/src/gui/images dist/monkey-moore/
          cp -r build-release/src/gui/language dist/monkey-moore/

          cp README.md dist/monkey-moore/
          cp LICENSE dist/monkey-moore/

          cd dist
          tar -czvf monkey-moore-${{ github.ref_name }}-linux-x86_64.tar.gz monkey-moore/
      
      - name: Publish Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/monkey-moore-${{ github.ref_name }}-linux-x86_64.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}